@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.Mailing.Localization
@model Lazy.Abp.Mailing.Web.Pages.Mailing.IndexModel
@inject IStringLocalizer<MailingResource> L
@{
}
<h1>Mailing</h1>
<p>@L["SamplePageMessage"]</p>
